<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABd8xSPXm1mm4w_b-2hS1ku8h-kL9RYyU</string>
	<key>GCM_SENDER_ID</key>
	<string>619160155813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseCrudApp</string>
	<key>PROJECT_ID</key>
	<string>fir-crud-app-59448</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crud-app-59448.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619160155813:ios:68918626e03753c440bf4c</string>
</dict>
</plist>